<div>
  <div class="card shadow mt-3 border-0 border-radius-30px">
    <div class="card-body">
      <img
        class="rounded-circle border border-0 mb-1 avatar-dashboard"
        src="assets/img/avatar.jpg"
        width="100px"
        alt="picture of your"
        loading="lazy"
        title="my picture"
      />
      <h4 class="text-dark card-title">Hello John Doe !</h4>
      <p class="text-uppercase text-dark card-text">
        Last login 10.33 am 28.09.2017
      </p>
    </div>
  </div>
</div>
