<div>
  <div class="card shadow mt-3 border-0 border-radius-30px bg-plain-yellow">
    <div class="card-body">
      <p class="text-muted card-text m-0">Bank Accounts</p>
      <p class="text-dark card-text m-0">2 Active Accounts</p>
      <app-line-separation></app-line-separation>
      <p class="text-muted card-text m-0">Accounting Balance</p>
      <div class="d-flex justify-content-center align-items-center">
        <i class="fa fa-circle mr-2 text-success"></i>
        <h3 class="text-dark m-0">$ 6,328.33</h3>
      </div>
    </div>
  </div>
</div>
