<div>
  <div class="card shadow mt-3 mb-5 border-0 border-radius-30px">
    <div class="card-body">
      <div class="d-flex justify-content-center align-items-center">
        <div
          class="text-center border rounded-circle bg-danger border-0 notification-messages"
        >
          <p class="d-inline">2</p>
        </div>
        <i class="fa fa-envelope mr-2 wrap-icon-dashboard"></i>
        <h4 class="text-dark">Messages</h4>
      </div>
      <div class="justify-content-start align-items-center">
        <h6 class="text-left text-muted">
          Remote access Scam<i class="fa fa-unlock-alt float-left mr-2"></i
          ><span class="float-right date-message-dashboard"
            >9.33 am, 26 sept. 17</span
          >
        </h6>
        <p class="text-left text-muted">
          Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
      </div>
      <app-line-separation></app-line-separation>

      <app-btn-black-full-width
        [btnName]="'View More'"
      ></app-btn-black-full-width>
    </div>
  </div>
</div>
